ion-label.body {
  cursor: pointer;
}

ion-label.selected {
  --color: var(--annotation-editor-selected-color) !important;
}

.motivation {
  padding: 1rem;
}

select {
  padding: 5px;
  min-width: 100px;
}
