/* .wrapper {
  padding-left: calc(var(--timeline-knob-handle-size));
  padding-right: calc(var(--timeline-knob-handle-size));
} */

.timeline {
  width: 100%;
  position: relative;
  height: var(--timeline-height);
  cursor: pointer;
  user-select: none;
}

.timeline-bar {
  border-radius: var(--timeline-bar-border-radius);
  left: 0;
  top: calc((var(--timeline-height) - var(--timeline-bar-height)) / 2);
  position: absolute;
  width: 100%;
  height: var(--timeline-bar-height);
  background: var(--timeline-bar-background);
  pointer-events: none;
}

.timeline-bar.progress {
  bottom: 0;
  width: auto;
}

.timeline.annotation-disabled .timeline-bar.progress {
  background: var(--timeline-bar-progress-background);
}

.timeline-bar.selection {
  background: var(--timeline-selection-background);
  border-radius: 0;
}

.timeline-bar.annotation.bookmarking {
  background-color: var(--timeline-annotation-bookmarking-background);
}

.timeline-bar.annotation.highlighting {
  background-color: var(--timeline-annotation-highlighting-background);
}

.timeline-knob-handle {
  left: 0;
  top: calc((var(--timeline-height) - var(--timeline-knob-handle-size)) / 2);
  margin-left: calc(0px - var(--timeline-knob-handle-size) / 2);
  position: absolute;
  width: var(--timeline-knob-handle-size);
  height: var(--timeline-knob-handle-size);
  text-align: center;
}

.timeline-knob {
  position: absolute;
  width: var(--timeline-knob-handle-size);
  height: var(--timeline-knob-handle-size);
  z-index: 2;
  pointer-events: none;
}

.timeline-knob-handle.selection {
  margin-top: var(--timeline-knob-handle-selection-top-margin);
}

.timeline-knob-handle.start-selection {
  margin-left: calc(var(--timeline-knob-handle-size) * -1);
}

.timeline-knob-handle.end-selection {
  margin-left: 0;
}

.timeline-knob-handle.start-selection .timeline-knob .icon {
  fill: var(--timeline-start-selection-fill);
}

.timeline-knob-handle.playhead .timeline-knob .icon {
  fill: var(--timeline-playhead-fill);
  stroke: var(--timeline-playhead-stroke);
}

.timeline-knob-handle.end-selection .timeline-knob .icon {
  fill: var(--timeline-end-selection-fill);
}

/* .timeline-knob.annotation {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: red;
  top: -10px;
  margin-left: -1px;
}

.timeline-knob.annotation:after {
  content: '';
  position: absolute;
  left: -6px;
  top: 6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: red;
} */
