.wrapper {
  padding-left: calc(var(--timeline-knob-size) / 2);
  padding-right: calc(var(--timeline-knob-size) / 2);
}

.timeline {
  width: 100%;
  position: relative;
  height: var(--timeline-height);
  cursor: pointer;
  user-select: none;
}

.timeline-bar {
  border-radius: var(--timeline-bar-border-radius);
  left: 0;
  top: calc((var(--timeline-height) - var(--timeline-bar-height)) / 2);
  position: absolute;
  width: 100%;
  height: var(--timeline-bar-height);
  background: var(--timeline-bar-background);
  pointer-events: none;
}

.timeline-bar.progress {
  bottom: 0;
  width: auto;
  background: var(--timeline-bar-progress-background);
}

.timeline-bar.range {
  background-color: red;
}

.timeline-knob-handle {
  left: 0;
  top: calc((var(--timeline-height) - var(--timeline-knob-handle-size)) / 2);
  margin-left: calc(0px - var(--timeline-knob-handle-size) / 2);
  position: absolute;
  width: var(--timeline-knob-handle-size);
  height: var(--timeline-knob-handle-size);
  text-align: center;
}

.timeline-knob {
  left: calc(50% - var(--timeline-knob-size) / 2);
  top: calc(50% - var(--timeline-knob-size) / 2);
  position: absolute;
  width: var(--timeline-knob-size);
  height: var(--timeline-knob-size);
  z-index: 2;
  pointer-events: none;
}

.timeline-knob.playhead {
  border-radius: var(--timeline-playhead-border-radius);
  background: var(--timeline-playhead-background);
}

.timeline-knob.range {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: red;
  top: -10px;
  margin-left: -1px;
}

.timeline-knob.range:after {
  content: '';
  position: absolute;
  left: -6px;
  top: 6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: red;
}
