.wrapper {
  padding-left: calc(var(--timeline-knob-handle-size));
  padding-right: calc(var(--timeline-knob-handle-size));
}

.timeline {
  width: 100%;
  position: relative;
  height: var(--timeline-height);
  cursor: pointer;
  user-select: none;
}

.timeline-bar {
  border-radius: var(--timeline-bar-border-radius);
  left: 0;
  top: calc((var(--timeline-height) - var(--timeline-bar-height)) / 2);
  position: absolute;
  width: 100%;
  height: var(--timeline-bar-height);
  background: var(--timeline-bar-background);
  pointer-events: none;
}

.timeline-bar.progress {
  bottom: 0;
  width: auto;
  background: var(--timeline-bar-progress-background);
}

.timeline-bar.range.bookmark {
  background-color: var(--timeline-range-bookmark-background);
}

.timeline-bar.range.highlight {
  background-color: var(--timeline-range-highlight-background);
}

.timeline-knob-handle {
  left: 0;
  top: calc((var(--timeline-height) - var(--timeline-knob-handle-size)) / 2);
  margin-left: calc(0px - var(--timeline-knob-handle-size) / 2);
  position: absolute;
  width: var(--timeline-knob-handle-size);
  height: var(--timeline-knob-handle-size);
  text-align: center;
}

/* .timeline-knob-handle.start-selection {
  margin-left: calc(var(--timeline-knob-size) * -1.5);
}

.timeline-knob-handle.end-selection {
  margin-left: calc(var(--timeline-knob-size) * 0.5);
} */

.timeline-knob {
  top: calc(50% - var(--timeline-knob-handle-size) / 2);
  position: absolute;
  width: var(--timeline-knob-handle-size);
  height: var(--timeline-knob-handle-size);
  z-index: 2;
  pointer-events: none;
}

/* .timeline-knob-handle .timeline-knob.select {
  height: calc(var(--timeline-bar-height));
  width: var(--timeline-knob-handle-size);
} */

/* .timeline-knob-handle.playhead .timeline-knob { */
  /* left: calc(50% - var(--timeline-knob-size) / 2); */
  /* border-radius: var(--timeline-playhead-border-radius);
  background: var(--timeline-playhead-background);
  box-shadow: 0px 0px 4px #888888; */
/* } */

.timeline-knob-handle.start-selection {
  margin-top: var(--timeline-knob-handle-top-margin);
  margin-left: calc(var(--timeline-knob-handle-size) * -1);
  /* width: calc(var(--timeline-knob-size) * 2); */
  /* background: lightgreen; */
  /* transform: translate(-12px, 0); */
  /* transform-origin: 6px 12px 6px; */
  /* left: -12px; */
}

.timeline-knob-handle.playhead {
  margin-top: var(--timeline-knob-handle-top-margin);
  /* background: lightskyblue; */
}

.timeline-knob-handle.end-selection {
  margin-top: var(--timeline-knob-handle-top-margin);
  margin-left: 0;
  /* width: calc(var(--timeline-knob-size) * 2); */
  /* background: lightcoral; */
  /* transform-origin: 6px 0px 6px; */
  /* left: 12px; */
}

.timeline-knob-handle.start-selection .timeline-knob .icon {
  fill: var(--timeline-start-selection-fill);
  /* left: -12px; */
}

.timeline-knob-handle.playhead .timeline-knob .icon {
  fill: var(--timeline-playhead-fill);
  stroke: var(--timeline-playhead-stroke);
  /* left: -12px; */
}

.timeline-knob-handle.end-selection .timeline-knob .icon {
  fill: var(--timeline-end-selection-fill);
  /* right: 0; */
  /* left: 12px; */
}

/* .timeline-knob.range {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: red;
  top: -10px;
  margin-left: -1px;
}

.timeline-knob.range:after {
  content: '';
  position: absolute;
  left: -6px;
  top: 6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: red;
} */
