.controls {
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  padding-left: calc(var(--timeline-knob-size));
  padding-right: calc(var(--timeline-knob-size));
}

.control {
  height: var(--timeline-controls-height);
}

.time {
  flex: 0;
  padding: 0 0 0 4px;
  min-width: 100px;
}

.play {
  flex: 1;
  text-align: center;
}

.actions {
  flex: 0;
  text-align: right;
  min-width: 100px;
}

.actions ion-icon {
  --ion-color-primary: var(--icon-color);
}

.controls ion-button {
  --ion-color-primary: transparent;
  --ion-color-primary-shade: transparent;
  --ion-color-primary-tint: transparent;
  --box-shadow: none;
}

.controls ion-icon {
  --ion-color-primary: var(--icon-color);
}
