.twocol {
  display: flex;
  position: relative;
}

.col1 {
  flex: 0;
  padding: 0.8rem 0.2rem 0.8rem 0;
}

.col1 ion-button {
  width: 40px;
  height: 40px;
}

.col2 {
  flex: 1;
  padding: 1rem 0.1rem;
}
