.controls {
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
}

.control {
  height: var(--timeline-controls-height);
}

.play {
  flex-grow: 0;
}

.time {
  flex-grow: 0;
  padding: 0 0 0 4px;
}

.empty {
  flex-grow: 1;
}
